<!DOCTYPE html>
<html ng-app="angHomeApp" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/branch_head_part :: head"></head>

<body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout" theme-bg="bg1">
<div style="background-color:white" id="hoeapp-wrapper" class="hoe-hide-lpanel tdn" hoe-device-type="desktop">
    <header id="hoe-header" hoe-lpanel-effect="shrink"> <!-- Main Header -->
        <div class="hoe-left-header" hoe-position-type="fixed">
            <!--<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />-->
            <a class="pull-left" href="#"><img onclick="home()" src="/images/pos.png" width="45" height="45"
                                               alt="Logo"/>
                <span>Printtex</span></a>
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>
        </div>
        <div class="hoe-right-header" hoe-position-type="fixed">
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>  <!-- toggle menu -->
            <ul class="left-navbar">
                <li class="hoe-rheader-submenu">
                    <a href="#"><i style="font-size:22px" onclick="home()" class="fa fa-home hand"
                                   aria-hidden="true"></i> </a>
                </li>

            </ul>
            <ul class="right-navbar"> <!-- Right User Information -->
                <li class="dropdown hoe-rheader-submenu hoe-header-profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span><img class="img-circle" src="/images/user.png"></span>
                        <span>  <i class=" fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a href='/logout'><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
            <div style="height: 3px; margin-top:48px;
                         background:white;"></div>
        </div>
    </header>
    <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
        <aside th:replace="fragments/branch_aside_extended :: aside"></aside>


        <div class="container">
            <div class="form-group">
                <center><h2 class="centre" style="margin-right: 40px;">Add Salesperson</h2></center>
            </div>

            <hr>
            <center><p th:inline="text">[[${result}]]</p></center>
            <form class="form-horizontal" action="#" th:action="@{/branch/addsalesperson}" th:object="${salesperson}"
                  method="post">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="salespersonName">Name:</label>
                    <div class="col-sm-5">
                        <input type="text" th:field="*{salespersonName}" class="form-control" id="salespersonName"
                               placeholder="Enter name" name="salespersonName">
                        <label th:if="${#fields.hasErrors('salespersonName')}" th:errors="*{salespersonName}"> Name
                            Error</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="mobileNo">Mobile Number:</label>
                    <div class="col-sm-5">
                        <input type="text" th:field="*{mobileNo}" class="form-control" id="mobileNo"
                               placeholder="Enter Mobile Number" name="mobileNo">
                        <label th:if="${#fields.hasErrors('mobileNo')}" th:errors="*{mobileNo}">Mobile Number
                            Error</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <a href="/branch/allsalesperson" class="btn btn-primary btn-success pull-right">See All
                            Salesperson</a>
                        <button class="btn btn-danger pull-right" type="reset">Reset</button>
                        <button type="submit" class="btn btn-primary btn-success pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<link rel="stylesheet" href="/kha/custom.css"/>


</body>
</html>
