<!DOCTYPE html>
<html ng-app="angHomeApp" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/branch_head_part :: head"></head>
<body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout" theme-bg="bg1">
<div style="background-color:white" id="hoeapp-wrapper" class="hoe-hide-lpanel tdn" hoe-device-type="desktop">
    <header id="hoe-header" hoe-lpanel-effect="shrink"> <!-- Main Header -->
        <div class="hoe-left-header" hoe-position-type="fixed">
            <a class="pull-left" href="#"><img onclick="home()" src="/images/pos.png" width="45" height="45"
                                               alt="Logo"/>
                <span>Printtex</span></a>
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>
        </div>
        <div class="hoe-right-header" hoe-position-type="fixed">
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>  <!-- toggle menu -->
            <ul class="left-navbar">
                <li class="hoe-rheader-submenu">
                    <a href="#"><i style="font-size:22px" onclick="home()" class="fa fa-home hand"
                                   aria-hidden="true"></i> </a>
                </li>

            </ul>
            <ul class="right-navbar"> <!-- Right User Information -->
                <li class="dropdown hoe-rheader-submenu hoe-header-profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span><img class="img-circle" src="/images/user.png"></span>
                        <span>  <i class=" fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a href='/logout'><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
            <div style="height: 3px; margin-top:48px;
                         background:white;"></div>
        </div>
    </header>
    <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
        <aside th:replace="fragments/branch_aside_extended :: aside"></aside>


        <div class="inner-content">
            <div ui-view="content">
                <!-- Angular views -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-success">
                            <!--<div class="panel-heading-kha">Create Product</div>-->
                            <div class="panel-body">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <span id="todays_sale">
                                                 <a href="/branch/report/today">
                                                <div class="btn1">
                                                    <img src="/images/control/today.jpg" width="50" height="50"
                                                         alt="Logo"/>
                                                    <h5><b>Today's Sale</b></h5>
                                                </div>
                                            </a>
                                            </span>

                                            <span id="total_sale">
                                                <a href="/branch/report/total">
                                                <div class="btn1">
                                                    <img src="/images/control/total.jpg" width="50" height="50"
                                                         alt="Logo"/>
                                                    <h5><b>Total Sale</b></h5>
                                                </div>
                                            </a>
                                           </span>
                                            <span id="report_by_date">
                                                <a href="/branch/report/by_date">
                                                <div class="btn1">
                                                    <img src="/images/control/date.jpg" width="50" height="50"
                                                         alt="Logo"/>
                                                    <h5><b>Report By Date</b></h5>
                                                </div>
                                            </a>
                                           </span>
                                            <span id="report_by_customer">
                                                <a href="/branch/report/by_customer">
                                                <div class="btn1">
                                                    <img src="/images/control/customer.jpg" width="50" height="50"
                                                         alt="Logo"/>
                                                    <h5><b>Report By Customer</b></h5>
                                                </div>
                                            </a>
                                           </span>
                                            <span id="report_by_item">
                                                <a href="/branch/report/by_item">
                                                <div class="btn1">
                                                    <img src="/images/control/customer.jpg" width="50" height="50"
                                                         alt="Logo"/>
                                                    <h5><b>Report By Item</b></h5>
                                                </div>
                                            </a>
                                           </span>

                                            <span id="report_by_branch">
                                                <a href="/branch/report/by_branch">
                                                <div class="btn1">
                                                    <img src="/images/control/customer.jpg" width="50" height="50"
                                                         alt="Logo"/>
                                                    <h5><b>Report By Branch</b></h5>
                                                </div>
                                            </a>
                                           </span>
                                            <!--<span id="report_by_branch">-->
                                            <!--<a href="/branch/download?branch_id=0&report_type=saleByBranch&customer_id=0" target="_blank">-->
                                            <!--<div class="btn1">-->
                                            <!--<img src="/images/control/customer.jpg" width="50" height="50"-->
                                            <!--alt="Logo"/>-->
                                            <!--<h5><b>Report By Branch</b></h5>-->
                                            <!--</div>-->
                                            <!--</a>-->
                                            <!--</span>-->
                                            <span id="report_by_salesPerson">
                                                <a href="/branch/report/by_salesperson">
                                                <div class="btn1">
                                                    <img src="/images/control/salesperson.jpg" width="50" height="50"
                                                         alt="Logo"/>
                                                    <h6><b>Report By Salesperson</b></h6>
                                                </div>
                                            </a>
                                           </span>
                                        </div>
                                        <div class="col-sm-2"></div>
                                        <div ng-controller="AppController"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/kha/custom.css"/>


</body>
</html>
