<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Print Tex|Search By Salesperson Name</title>
    <script src="/bootstrap/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/bootstrap.min-3.3.7.js"></script>
    <script src="/theme_js/hoe.js"></script>
    <script type="text/javascript">
        function home() {
            window.location.href = "/branch/home";
        };
    </script>
    <link rel="stylesheet" href="/css/loading-bar.css">
    <link rel="stylesheet" href="/css/hotkeys.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/font-awesome.min.css"/>
    <link href="/images/pos_favicon.png" rel="icon">
    <link rel="stylesheet" href="/theme_css/hoe.css"/>

</head>

<body background="/images/background.jpg" hoe-navigation-type="vertical" hoe-nav-placement="left"
      theme-layout="wide-layout" theme-bg="bg1">
<div style="background-color:white" id="hoeapp-wrapper" class="hoe-hide-lpanel tdn" hoe-device-type="desktop">
    <header id="hoe-header" hoe-lpanel-effect="shrink"> <!-- Main Header -->
        <div class="hoe-left-header" hoe-position-type="fixed">
            <a class="pull-left" href="#"><img onclick="home()" src="/images/pos.png" width="45" height="45"
                                               alt="Logo"/>
                <span>Print Tex</span></a>
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>
        </div>
        <div class="hoe-right-header" hoe-position-type="fixed">
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>
            <li class="hoe-rheader-submenu">
                <a href="#"><i style="font-size:22px" onclick="home()" class="fa fa-home hand"
                               aria-hidden="true"></i> </a>
            </li>

            </ul>
            <ul class="right-navbar">
                <li class="dropdown hoe-rheader-submenu hoe-header-profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span><img class="img-circle" src="/images/user.png"></span>
                        <span>  <i class=" fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a href='/logout'><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
            <div style="height: 3px; margin-top:48px;
                         background:white;"></div>
        </div>
    </header>
    <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
        <aside th:replace="fragments/branch_aside_extended :: aside"></aside>

        <div class="container">
            <div class="form-group">
                <center><h2 class="centre" style="margin-right: 40px;" th:inline="text">[[${heading}]]<a
                        th:href="@{/branch/reports}" style="margin-left:300px " class="btn btn-primary">Back</a></h2>
                </center>
            </div>

            <hr>
            <center><p th:inline="text">[[${result}]]</p></center>
            <form class="form-horizontal" action="#" th:action="@{/branch/report/by_date}" th:object="${report}"
                  method="post">

                <div class="form-group">
                    <label class="control-label col-sm-3" for="startingDate">Starting Date:</label>
                    <div class="col-sm-5">
                        <input type="date" th:field="*{startingDate}" class="form-control" id="startingDate"
                               placeholder="Enter Starting Date"
                               name="startingDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="endingDate">Ending Date:</label>
                    <div class="col-sm-5">
                        <input type="date" th:field="*{endingDate}" class="form-control" id="endingDate"
                               placeholder="Enter Ending Date"
                               name="endingDate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <select hidden="hidden" class="form-control" th:field="*{customer.id}">
                            <option value="0">----Select Customer----</option>
                            <option th:each="customer : ${customers}" th:value="${customer.id}"
                                    th:text="${customer.customerName}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <select hidden="hidden" class="form-control" th:field="*{salesperson.id}">
                            <option value="0">----Select Salesperson----</option>
                            <option th:each="salesperson : ${salespersons}" th:value="${salesperson.id}"
                                    th:text="${salesperson.salespersonName}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button class="btn btn-danger pull-right" type="reset">Reset</button>
                        <button type="submit" class="btn btn-primary btn-success pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/kha/custom.css"/>
</body>
</html>