<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/css/bootstrap.min-3.3.7.js"></script>
    <link rel="stylesheet" href="/bootstrap/font-awesome.min.css"/>
    <title>Alert</title>
</head>
<body>
<div class="container">
    <br>
    <div class="alert alert-danger" style="height: 200px">
        <center><strong><font size="6"> Alert !</font></strong><br>
            <b><p><font size="4"> This url is not Working any more .</font></p></b></center>
    </div>
</div>
</body>
</html>