<!DOCTYPE html>
<html ng-app="angHomeApp" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head_part :: head"></head>

<body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout" theme-bg="bg1">
<div style="background-color:white" id="hoeapp-wrapper" class="hoe-hide-lpanel tdn" hoe-device-type="desktop">
    <header id="hoe-header" hoe-lpanel-effect="shrink">
        <div class="hoe-left-header" hoe-position-type="fixed">
            <a class="pull-left" href="#"><img onclick="home()" src="/images/pos.png" width="45" height="45"
                                               alt="Logo"/>
                <span>Printtex</span></a>
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>
        </div>
        <div class="hoe-right-header" hoe-position-type="fixed">
            <span class="hoe-sidebar-toggle"><a href="#"></a></span>
            <ul class="left-navbar">
                <li class="hoe-rheader-submenu">
                    <a href="#"><i style="font-size:22px" onclick="home()" class="fa fa-home hand"
                                   aria-hidden="true"></i> </a>
                </li>

            </ul>
            <ul class="right-navbar">
                <li class="dropdown hoe-rheader-submenu hoe-header-profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span><img class="img-circle" src="/images/user.png"></span>
                        <span>  <i class=" fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a href='/logout'><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
            <div style="height: 3px; margin-top:48px;
                         background:white;"></div>
        </div>
    </header>
    <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
        <aside th:replace="fragments/aside_extended :: aside"></aside>


        <div class="container">
            <div class="form-group">
                <center><h2 class="centre" style="margin-right: 40px;">Item Information</h2></center>
            </div>

            <hr>
            <center><p th:inline="text">[[${result}]]</p></center>
            <form class="form-horizontal" action="#" th:action="@{/admin/item/update}" th:object="${item}"
                  method="post">
                <div class="form-group">
                    <div class="col-sm-5">
                        <input type="hidden" th:value="*{itemId}" class="form-control" id="itemId" name="itemId">
                    </div>
                </div>
                <div class="form-group">
                    <label style="font-weight: bold " class="control-label col-sm-3">Category :</label>
                    <div class="col-sm-5">
                        <select class="form-control" th:field="*{category.categoryId}">
                            <option value="0">----Select Category----</option>
                            <option th:each="category : ${categories}" th:value="${category.categoryId}"
                                    th:text="${category.categoryName}"></option>
                        </select>
                        Or, <a href="/admin/addcategory">Add New Category</a>
                    </div>
                </div>
                <div class="form-group">
                    <label style="font-weight: bold " class="control-label col-sm-3" for="itemName">Name:</label>
                    <div class="col-sm-5">
                        <input type="text" th:field="*{itemName}" class="form-control" id="itemName"
                               placeholder="Enter item name" name="itemName">
                        <label th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"> Name Error</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="branchId">Branch:</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="branchId" th:field="*{branchId}">
                            <option value="0">----Select Branch----</option>
                            <option th:each="branch : ${branchList}"
                                    th:value="${branch.id}"
                                    th:text="${branch.name}"></option>
                        </select>
                        <label></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="itemUnitPrice">Unit Price:</label>
                    <div class="col-sm-5">
                        <input type="number" th:field="*{itemUnitPrice}" class="form-control" id="itemUnitPrice"
                               placeholder="Enter Unit Price"
                               name="itemUnitPrice">
                        <label th:if="${#fields.hasErrors('itemUnitPrice')}" th:errors="*{itemUnitPrice}">Unit price
                            Error</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="itemAmount">Stock Quantity:</label>
                    <div class="col-sm-5">
                        <div class="col-sm-5">
                            <input type="number" th:field="*{itemAmount}" class="form-control" id="itemAmount"
                                   placeholder="Enter stock quantity"
                                   name="itemAmount">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <a href="/admin/allitem" class="btn btn-primary btn-success pull-right">See All Item</a>
                        <button class="btn btn-danger pull-right" type="reset">Reset</button>
                        <button type="submit" class="btn btn-primary btn-success pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/kha/custom.css"/>
</body>
</html>
